<h2><%= @plug.name %></h2>

<%= form_tag({ controller: :data_files, action: :upload }, multipart: true) do %>
  <%= hidden_field_tag 'plug_id', @plug.id %>
  <%= file_field_tag 'data_file' %>
  <%= submit_tag 'Upload Data File' %>
<% end %>

<p><%= @plug.readings.count %> readings from <%= @plug.data_files.count %> files</p>

<svg class="consumption-chart plug-<%= @plug.id %>" width=960 height=400></svg>

<table>
  <tr>
    <th>Date Time</th>
    <th>Consumption</th>
    <th>Temperature</th>
  </tr>

  <% @plug.readings.each do |reading| %>
    <tr>
      <td><%= displayable_date_time(reading.date_time) %></td>
      <td><%= reading.consumption %></td>
      <td><%= reading.temperature %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit Plug', edit_plug_path(@plug) %> | 
<%= link_to 'Delete Plug', plug_path(@plug), data: { confirm: 'Are you sure?' }, method: :delete %>
